includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 5

    ignoreErrors:
#        - '#Dead catch - Exception is never thrown in the try block.#'

    excludePaths:
#        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false

    treatPhpDocTypesAsCertain: false
